//.App {
//  text-align: center;
//}
//
//.App-logo {
//  height: 40vmin;
//  pointer-events: none;
//}
//
//@media (prefers-reduced-motion: no-preference) {
//  .App-logo {
//    animation: App-logo-spin infinite 20s linear;
//  }
//}
//
//.App-Header {
//  background-color: #282c34;
//  min-height: 100vh;
//  display: flex;
//  flex-direction: column;
//  align-items: center;
//  justify-content: center;
//  font-size: calc(10px + 2vmin);
//  color: white;
//}
//
//.App-link {
//  color: #61dafb;
//}
//
//@keyframes App-logo-spin {
//  from {
//    transform: rotate(0deg);
//  }
//  to {
//    transform: rotate(360deg);
//  }
//}
@media (min-width: 1200px) {
  .container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 1300px !important;
  }
}
.app-container {
  .header-container{

    .btn-login {
      border-radius: 5px;
      margin-right: 15px;
      padding: 0 15px;
      border: 1px solid black;
      &:hover{
        color: red;
      }
      height:40px;
    }
    .btn-signup {
      border-radius: 5px;
      padding: 0 15px;
      border: 1px solid black;
      background-color: black;
      color: white;
      &:hover{
        background-color: purple;
      }
      height:40px;

    }

    .navbar{
      z-index: 20;
      padding-top:20px;
      background-color: rgba(0,0,0, 0) !important;
      .nav-link{
        &.active{
          color:blue
        }
      }
    }
    //.navbar-bar .nav-link.active{
    //  color: red !important;
    //}
  }
}
.homepage-container {
  .homepage-content {
    position: relative;
    padding: 5%; /* Relative padding for better responsiveness */
    width: 50%;
    display: flex; /* Changed to flex for flex-direction */
    flex-direction: column;
    gap: 50px; /* Adjusted gap for spacing */

    .title-1 {
      font-size: 35px; /* Scalable font size */
      font-weight:600;
    }
    .title-2{
      font-size: 20px;
    }
    .title-3{
      button{
        border-radius:10px;
        padding:10px;
        font-size:15px;
        background-color:black;
        color:white;
        &:hover{
          background-color: purple;
        }
      }

    }
  }
}

video{
  position: fixed;// overlay ghi đề lên thanh header
  bottom:0;
  width:100%;
}


